
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AMOS</title>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/fonts/FiraSans/Fonts.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="container container-fluid">
        <nav class="navbar navbar-expand-md navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                        <img src="~/Content/images/amos_logo.png" width="30" height="30" class="d-inline-block align-top" alt="" style="margin-top:-5px" />
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item @Html.Raw(isActiveController("Home"))">
                            <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                        </li>
                        <li class="nav-item @Html.Raw(isActiveController("Present"))">
                            <a class="nav-link" href="@Url.Action("ViewBooks", "Present")">Present</a>
                        </li>
                        <li class="nav-item dropdown @Html.Raw(isActiveController("Build"))">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configure <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("ListBooks", "Build")">List Books</a></li>
                                <li><a href="@Url.Action("ListPages", "Build")">List Pages</a></li>
                            </ul>

                        </li>
                        <li class="nav-item @Html.Raw(isActiveController("Subject"))">
                            <a class="nav-link " href="@Url.Action("Index", "Subject")">Subjects</a>
                        </li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
    </div>



    @*<div class="container container-fluid bg-dark mw-100">


    </div>*@

    <div class="container container-fluid pt-5">
        @RenderBody()
        <hr />
        <footer>
            <p>
                &copy; @DateTime.Now.Year - AMOS - Version: @Amos.Version.VersionNumber
            </p>
        </footer>
    </div>
    @RenderSection("footer", required: false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>

@functions{
    string isActiveController(string controller)
    {
        if (controller == this.ViewContext.RouteData.Values["controller"].ToString()) return " active";
        else return "";
    }


}