@model Amos.Controllers.Configuration.PageInitModel
@{
    // ========= force page to perform fresh load each visit:
    Response.Cache.SetCacheability(HttpCacheability.NoCache); 
    Response.Cache.SetNoStore();
    // =========

    ViewBag.Title = "Configure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/Content/css/Configure.css?v=8">
}

<a href="@Url.Action("Manage", "Build", new { id=Model.PageQueryModel.BookId })" class="btn btn-default" style="margin-bottom:20px;">
    <i class="fa fa-arrow-left"></i> Back to manage book
</a>

    <div id="Main">
        @*==================================
            LEFT COLUMN:  book outline
        ====================================*@
        <div id="BookOutline">
            <div id="QueryInputs">
                <div>show leading page text <input type="checkbox" id="ShowPageContent" /></div>
            </div>
            <div id="BookOutlineView">
                @*================================== Inserted here: VIEW file "BookOutline.cshtml". This is refreshed everytime a user makes a change to the book outline ====================================*@
                @{Html.RenderAction("BookOutline", new { PageQueryModel = Model.PageQueryModel });}
            </div>
        </div>
        @*==================================
            RIGHT COLUMN: various input sets that are displayed, depending on the type of object selected.
        ====================================*@
        <div id="ItemActions">
            <div id="Loading">Updating...</div>
            <div id="DefaultActions" class="actions-set">
                <i class="fa fa-arrow-left fa-2x"></i>
                Select an item to make modifications.
            </div>
            @*================================== modify BOOK: =====================================*@
            <div id="BookActions" class="actions-set" data-type="book">
                <div class="actions-header">modify selected <b>book</b>:</div>
                <div class="form-group name-group">
                    <label>book title:</label>
                    <input class="form-control name-input" type="text" />
                    <button class="btn btn-primary btn-sm name-update" type="submit">update</button>
                </div>
                <div class="form-group name-group">
                    <label>book version:</label>
                    <input class="form-control version-input" type="text" />
                    <button class="btn btn-primary btn-sm version-update" type="submit">update</button>
                </div>
                <div class="form-group add-group">
                    <button type="button" class="btn btn-primary btn-block add-button"><i class="fa fa-plus fa-fw fa-lg"></i>add a new module to this book</button>
                </div>
            </div>
            @*================================== modify MODULE: =====================================*@
            <div id="ModuleActions" class="actions-set" data-type="module">
                <div class="actions-header">modify selected <b>module</b>:</div>
                <div class="form-group name-group">
                    <label>module title:</label>
                    <input class="form-control name-input" type="text" />
                    <button class="btn btn-primary btn-sm name-update" type="submit">update</button>
                </div>
                <div class="form-group theme-group">
                    <button type="button" class="btn btn-primary btn-block theme-button"><i class="fa fa-paint-brush fa-fw fa-lg"></i>change the color theme of this module</button>
                </div>
                <div class="form-group reorder-group">
                    <label>reorder modules:</label>
                    <button type="button" class="btn btn-primary btn-block reorder-button" data-action="up"><i class="fa fa-arrow-up fa-fw fa-lg"></i>move this module up</button>
                    <button type="button" class="btn btn-primary btn-block reorder-button" data-action="down"><i class="fa fa-arrow-down fa-fw fa-lg"></i>move this module down</button>
                </div>
                <div class="form-group remove-group">
                    <button type="button" class="btn btn-warning btn-block btn-xs remove-button"><i class="fa fa-trash fa-fw fa-lg"></i>remove this module</button>
                    <div class="remove-note">after removal, any pages within will still be available for re-use</div>
                </div>
                <div class="form-group add-group">
                    <button type="button" class="btn btn-primary btn-block add-button"><i class="fa fa-plus fa-fw fa-lg"></i>add a new section to this module</button>
                </div>
            </div>
            @*================================== modify SECTION: =====================================*@
            <div id="SectionActions" class="actions-set" data-type="section">
                <div class="actions-header">modify selected <b>section</b>:</div>
                <div class="form-group name-group">
                    <label>section title:</label>
                    <input class="form-control name-input" type="text" />
                    <button class="btn btn-primary btn-sm name-update" type="submit">update</button>
                </div>
                <div class="form-group reorder-group">
                    <label>reorder sections:</label>
                    <button type="button" class="btn btn-primary btn-block reorder-button" data-action="up"><i class="fa fa-arrow-up fa-fw fa-lg"></i>move this section up</button>
                    <button type="button" class="btn btn-primary btn-block reorder-button" data-action="down"><i class="fa fa-arrow-down fa-fw fa-lg"></i>move this section down</button>
                    <label>move section to module:</label>
                    <div class="move-input"><select></select></div>
                    <button class="btn btn-primary btn-sm move-button" type="submit">update</button>
                </div>
                <div class="form-group remove-group">
                    <button type="button" class="btn btn-warning btn-block btn-xs remove-button"><i class="fa fa-trash fa-fw fa-lg"></i>remove this section</button>
                    <div class="remove-note">after removal, any pages within will still be available for re-use</div>
                </div>
                <div class="form-group add-group">
                    <button type="button" class="btn btn-primary btn-block add-button"><i class="fa fa-plus fa-fw fa-lg"></i>add a new chapter to this section</button>
                </div>
            </div>
            @*================================== modify CHAPTER: =====================================*@
            <div id="ChapterActions" class="actions-set" data-type="chapter">
                <div class="actions-header">modify selected <b>chapter</b>:</div>
                <div class="form-group name-group">
                    <label>chapter title:</label>
                    <input class="form-control name-input" type="text" />
                    <button class="btn btn-primary btn-sm name-update" type="submit">update</button>
                </div>
                <div class="form-group reorder-group">
                    <label>reorder chapters:</label>
                    <button type="button" class="btn btn-primary btn-block reorder-button" data-action="up"><i class="fa fa-arrow-up fa-fw fa-lg"></i>move this chapter up</button>
                    <button type="button" class="btn btn-primary btn-block reorder-button" data-action="down"><i class="fa fa-arrow-down fa-fw fa-lg"></i>move this chapter down</button>
                    <label>move chapter to section:</label>
                    <div class="move-input"><select></select></div>
                    <button class="btn btn-primary btn-sm move-button" type="submit">update</button>
                </div>
                <div class="form-group remove-group">
                    <button type="button" class="btn btn-warning btn-block btn-xs remove-button"><i class="fa fa-trash fa-fw fa-lg"></i>remove this chapter</button>
                    <div class="remove-note">after removal, any pages within will still be available for re-use</div>
                </div>
                <div class="form-group add-group">
                    <button type="button" class="btn btn-primary btn-block new-page-button"><i class="fa fa-plus fa-fw fa-lg"></i>add a new page to this chapter</button>
                </div>
            </div>
            @*================================== modify PAGE: =====================================*@
            <div id="PageActions" class="actions-set" data-type="page">
                <div class="actions-header">modify selected <b>page</b>:</div>
                <div class="form-group name-group">
                    <label>page title:</label>
                    <input class="form-control name-input" type="text" />
                    <button class="btn btn-primary btn-sm name-update" type="submit">update</button>
                </div>
                <div class="form-group reorder-group">
                    <label>reorder pages:</label>
                    <button type="button" class="btn btn-primary btn-block reorder-button" data-action="up"><i class="fa fa-arrow-up fa-fw fa-lg"></i>move this page up</button>
                    <button type="button" class="btn btn-primary btn-block reorder-button" data-action="down"><i class="fa fa-arrow-down fa-fw fa-lg"></i>move this page down</button>
                    <label>move page to chapter:</label>
                    <div class="move-input"><select></select></div>
                    <button class="btn btn-primary btn-sm move-button" type="submit">update</button>
                </div>
                <div class="form-group remove-group">
                    <button type="button" class="btn btn-warning btn-block btn-xs remove-button"><i class="fa fa-times fa-fw fa-lg"></i>remove this page</button>
                    <div class="remove-note">after removal, the page will still be available for re-use</div>
                </div>
                <div class="form-group view-group">
                    <button type="button" id="EditButton" class="btn btn-success btn-block"><i class="fa fa-pencil fa-fw fa-lg"></i>edit page</button>
                    <button type="button" id="PreviewButton" class="btn btn-success btn-block"><i class="fa fa-eye fa-fw fa-lg"></i>preview page</button>
                </div>
            </div>
            @*================================================================================*@
        </div>

    </div>

@*==================================
    SELECT A THEME modal popup:
====================================*@

<div id="ThemeSelector">
    <div class="overlay"></div>
    <div class="themeSelector">
        <div class="themeBlock" data-id="1">
            <img class="themeImg" src="~/Content/images/themes/1.png" />
        </div>
        <div class="themeBlock" data-id="2">
            <img class="themeImg" src="~/Content/images/themes/2.png" />
        </div>
        <div class="themeBlock" data-id="3">
            <img class="themeImg" src="~/Content/images/themes/3.png" />
        </div>
        <div class="themeBlock" data-id="4">
            <img class="themeImg" src="~/Content/images/themes/4.png" />
        </div>
        <div class="themeBlock" data-id="5">
            <img class="themeImg" src="~/Content/images/themes/5.png" />
        </div>
        <div class="themeBlock" data-id="6">
            <img class="themeImg" src="~/Content/images/themes/6.png" />
        </div>
        <div class="themeBlock" data-id="7">
            <img class="themeImg" src="~/Content/images/themes/7.png" />
        </div>
        <div class="themeBlock" data-id="8">
            <img class="themeImg" src="~/Content/images/themes/8.png" />
        </div>
        <div class="themeBlock" data-id="9">
            <img class="themeImg" src="~/Content/images/themes/9.png" />
        </div>
    </div>
</div>


@section Scripts{
    <script>
        var actionTransmitUrl='@Url.Action("action",new{id=0})';
        var pageQueryModel = @Html.Raw(Json.Encode(Model.PageQueryModel));
        var addPageUrl = '@Url.Action("AddPage", "PageSelect", new { id = 0 })';
        var editPageUrl = '@Url.Action("ViewEditor", "Build", new { id = 0 })';
        var viewPageUrl = '@Url.Action("ViewPage", "Build", new { id = 0 })';
    </script>
    <script type="text/javascript" src="~/Content/js/Configure.js?v=8"></script>
}
