@model Amos.Models.SubjectBookListModel

@{
    ViewBag.Title = "List Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List Books</h2>

<div class="row">
    <div class="col-md-8">Book Information</div>
    <div class="col-md-4">Tracker Info</div>
</div>

@foreach (var book in Model.books)
{
    <div class="row">
        <div class="col-md-8">
            <div class="name">@book.Name</div>
            <div class="version">@book.Version</div>
        </div>
        <div class="col-md-4">
            @getBookInfo(book.BookId)
        </div>
    </div>
}


@helper getBookInfo(int bookId)
    {
        string sBookId = "b_" + bookId;
        List<Amos.Models.UserTracker> trackerList = Model.userTrackers.Where(x => x.BookId == sBookId).ToList();
        DateTime recentUse = new DateTime();
        foreach (var track in trackerList)
        {
            dynamic json = Json.Decode(track.TrackerContent);
            try
            {
                DateTime userStart = Convert.ToDateTime(json.StartTime);
                if (userStart > recentUse)
                {
                    recentUse = userStart;
                }
            }
            catch { }
        }
        <div class="total">Total Subjects: @trackerList.Count</div>
        if (recentUse == new DateTime())
        {
            <div class="recent">Last Started: n/a</div>
        }
        else
        {
            <div class="recent">Last Started: @recentUse</div>
        }

        <a href="@Url.Action("ExportSubjects", new { id=bookId })">export data</a>
}
